{% extends 'base.html.twig' %}

{% block body %}
<h1>Edit like: {{oldPerson.login}} likes {{oldProduct.name}}</h1>
{% for message in app.flashes('failure') %}
    <div class="alert alert-failure">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

Products: 
<select onchange="
    document.querySelector('.product-input').value = this.options[this.selectedIndex].text;
">
<option value="-1"></option>
{% for product in selectProducts %}
<option value="{{product.id}}">{{product.name}}</option>
{% endfor %}
</select>
<br>
Persons: 
<select onchange="
    document.querySelector('.person-input').value = this.options[this.selectedIndex].text;
">
<option value="-1"></option>
{% for person in selectPersons %}
<option value="{{person.id}}">{{person.login}}</option>
{% endfor %}
</select>

<br>
{{ form(form) }}
<br>

{% if likeAlreadyExists %}
<h2><b>{{person}}</b> already likes <b>{{product}}</b></h2>
{% else %}
    <h2><b>{{person}}</b> doesnt like <b>{{product}}</b> yet.</h2>
    <a href="{{ path('admin.editLike', { oldPersonId: oldPerson.id, oldProductId: oldProduct.id, newProductId: product.id, newPersonId: person.id}) }}">
        <button class='btn btn-success'>Change Like</button>
    </a>
{% endif %}

<br>
<a href='{{ path('admin.likes', {personLogin: oldPerson.login, productName: oldProduct.name}) }}'><button class='btn btn-primary'>Back to Likes</button></a>
<a href='{{ path('admin.panel') }}'><button class='btn btn-primary'>Panel</button></a>
<a href='{{ path('app_logout') }}'><button class='btn btn-primary'>Logout</button></a>
{% endblock %}



