{% extends 'base.html.twig' %}

{% block javascripts %}
<script>

function searchById() {
    let productId = document.querySelector('.product-input').dataset.id;
    let personId = document.querySelector('.person-input').dataset.id;
    let productName = document.querySelector('.product-input').value;
    let personName = document.querySelector('.person-input').value;
    if (productName == "") { productName = -1; }
    if (personName == "") { personName = -1; }
    location.href=`/admin/likes/${productName}/${personName}/${productId}/${personId}`;
}
document.querySelector('.search-by-id').addEventListener('click', () => { searchById(); });

</script>
{% endblock %}

{% block body %}
<h1>Likes</h1>

{% for message in app.flashes('failure') %}
    <div class="alert alert-failure">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% if selectProducts|length > 0 or selectPersons|length > 0 %}
    <h5>Search results depend on text input and not selected option.<br>
    Select fields are here just to help you fill whole Product Name or Person Login text input.</h5>
    {% if selectProducts|length > 0 %}
        Products: 
        <select onchange="
            document.querySelector('.product-input').value = this.options[this.selectedIndex].dataset.name;
            document.querySelector('.product-input').dataset.id = this.options[this.selectedIndex].dataset.id;
        ">
        <option data-id="-1" data-name=" "></option>
        {% for product in selectProducts %}
        <option data-id="{{product.id}}" data-name="{{product.name}}">
            <b>{{product.name}}</b> [ID: {{product.id}}] [{{ product.publicDate|date('Y:m:d H:i') }}]
        </option>
        {% endfor %}
        </select>
        <br>
    {% endif %}

    {% if selectPersons|length > 0 %}
        Persons: 
        <select onchange="
            document.querySelector('.person-input').value = this.options[this.selectedIndex].dataset.login;
            document.querySelector('.person-input').dataset.id = this.options[this.selectedIndex].dataset.dataset.id;
        ">
        <option data-id="-1" data-login=" "></option>
        {% for person in selectPersons %}
        <option data-id="{{person.id}}" data-login="{{person.login}}">
            <b>{{person.login}}</b> [ID: {{person.id}}]
        </option>
        {% endfor %}
        </select>
        <br>
    {% endif %}
{% else %}
    <h5>Write at least 1 character of Product Name or Person Login and press <b>Search</b></h5>
{% endif %}

{{ form(form) }}
<button class='search-by-id btn btn-success'>Search By ID</button>
<br>




{% if product != null and person != null%}
    {% if resultLikes|length == 0 %}
    <h2>{{person}} does not like {{product}}  [ID: {{product.id}}] [{{ product.publicDate|date('Y:m:d H:i') }}].</h2>
    <a href="{{ path('admin.addLike', { productId: product.id, personId: person.id }) }}"><button class='btn btn-success'>Create Like</button></a>
    {% else %}
    <h2>
        {{person}} likes {{product}}  [ID: {{product.id}}] [{{ product.publicDate|date('Y:m:d H:i') }}] ( <a href="{{ path('admin.editLikeForm', { oldPersonId: person.id, oldProductId: product.id}) }}">Edit</a> ) 
    </h2>
    {% endif %}
{% else %}
    {% if product != null and person == null %}
        <h2>Results for product {{product}} [ID: {{product.id}}] [{{product.publicDate|date('Y-m-d H:i')}}]:</h2>
    {% endif %}
    {% if product == null and person != null %}
        <h2>Results for person {{person}}:</h2>
    {% endif %}
    <ul>
    {% for like in resultLikes %}
        <li>
            <b>{{like.personLogin}}</b> [ID: {{like.personId}}] likes <b>{{like.productName}}</b> [ID: {{like.productId}}]
            ( <a href="{{ path('admin.editLikeForm', { oldPersonId: like.personId, oldProductId: like.productId}) }}">Edit</a> ) 
            ( <a href="{{ path('admin.deleteLike', { personId: like.personId, productId: like.productId}) }}">Delete</a> ) 
        </li>
    {% endfor %}
    </ul>
{% endif %}
<br>
<a href='{{ path('admin.panel') }}'><button class='btn btn-primary'>Panel</button></a>
    <a href='{{ path('app_logout') }}'><button class='btn btn-primary'>Logout</button></a>
{% endblock %}



